{% extends "base.html" %} {% block content %}
<div class="flex justify-center">
  <h1>Stories de vos amis</h1>
</div>

{% if message %}
<p>{{ message }}</p>
{% else %}
<ul>
  {% for story in stories %}
  <li>
    <div class="flex justify-center">
    <strong>{{ story.user.username }}</strong>
    </div>
    <a class="bg-blue-500 text-center text-white mt-4 block rounded" href="{% url 'story_view' story.user.id %}">Voir la story</a>
    <small>(publié le {{ story.created_at|date:"d/m/Y H:i" }})</small>
  </li>
  {% endfor %}
</ul>
{% endif %} {% endblock %}
