{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="text-2xl font-bold mb-4">Liste des utilisateurs</h1>

    <ul>
        {% for user_status in user_statuses %}
        <li class="flex justify-between items-center mb-2 p-4 bg-gray-100 rounded">
            <span>{{ user_status.user.username }}</span>
            <div>
                {% if user_status.status == "friend" %}
                <form action="{% url 'remove_friend' user_status.user.id %}" method="post">
                    {% csrf_token %}
                    <div class="space-x-2">
                      <a href="{% url 'chat_view' user_status.user.id %}" class="bg-blue-500 text-white px-4 py-2 rounded">Chat</a>
                      <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded">Supprimer</button>
                    </div>
                </form>
                {% elif user_status.status == "pending" %}
                <span class="text-gray-500">Demande en attente</span>
                {% else %}
                <form action="{% url 'add_friend' user_status.user.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Ajouter</button>
                </form>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>

    <h2 class="text-xl font-bold mt-8 mb-4">Demandes d'amitié reçues</h2>
    <ul>
        {% for request in pending_friend_requests %}
        <li class="flex justify-between items-center mb-2 p-4 bg-gray-100 rounded">
            <span>{{ request.sender_user.username }}</span>
            <div class="space-x-2">
                <form action="{% url 'accept_friend_request' request.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">Accepter</button>
                </form>
                <form action="{% url 'reject_friend_request' request.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded">Refuser</button>
                </form>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
